extends layout

script(src='/public/javascripts/filter.js')
block content
	#filterview
		form
			#checklist
				each val, idx in filters
						h5 #{idx}
						each filter in val
							.filter-option.white-box
								input(type='checkbox', checked, id=filter)
								label(for=filter) #{filter}
			br
			a.button.white-box(type='submit', href="/", id="save") Save Filter