extends layout

body#filterview
	block content
		form
			div#checklist
				each val in ['hello', 'hi', 'boobs', 'fireball', 'balls', 'pranks with friends', 'solid'] //get tags
						input(type='checkbox', checked, id=val)
						label(for=val) #{val}
						br
						br
			br
			button(type='button') Save Filter