extends layout

script(src='/public/javascripts/filterpage.js')
block content
	div#filterview
		form
			div#checklist
				each val in ['Professional', 'Collegiate', 'High School', 'Outdoors', 'Indoors', 'Morning', 'Afternoon', 'Evening', 'Night', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
						input(type='checkbox', checked, id=val)
						label(for=val) #{val}
						br
						br
			br
			button(type='button') Save Filter