extends layout


block content
	#filterview
		form#formview
			#checklist
				each val, idx in filters
						h5 #{idx}
						each filter in val
							.filter-option.white-box
								input(type='checkbox', checked, id=filter, name='filters')
								label(for=filter) #{filter}
			br
		input#save(type='button', value='Save Filter')