extends layout

block content
	body
		#main-content
			navbar.white-box
				span#logo.nav-button
					img(src="/images/logo.svg", width="55", height="55")
				span.nav-button.active 	1
				span.nav-button 2
				span.nav-button 3
			#map-pane


