extends layout

block content
	.op-container
		.op.white-box
			.img-container
				img(src='/images/op1.jpg')
			.organization NCAA Collegiate Athletics
			.data-container
				span.description John Young Brown (1835–1904) represented Kentucky in the U.S. House of Representatives and served as its 31st governor.
				span.more-info-field
					a.link-button(href='/show') More Info
		.op.white-box
			.img-container
				img(src='/images/op2.jpg')
			.organization Super Bowl XVIII
			.data-container
				span.description Annual herbs in the genus are known as sow thistles (less commonly hare thistles or hare lettuces). 
				span.more-info-field
					a.link-button(href='/show') More Info
		.op.white-box
			.img-container
				img(src='/images/op3.jpg')
			.organization Banker's Life BBall Tourney
			.data-container
				span.description Withers began his career under the name Jeremy Hyde, acting as a jobber and losing to Dustin Lillard in less than five minutes.
				span.more-info-field
					a.link-button(href='/show') More Info



