extends layout

block content
	body
		#main-content
			navbar.white-box
				span#logo.nav-button
					img(src="/images/logo.gif", width="100", height="45")
				span.nav-button.active
					img(src="/images/list.png", width="20", height="20")
				span.nav-button
					img(src="/images/user.png", width="30", height="30")
				span.nav-button
					img(src="/images/search.gif", width="30", height="30")


