doctype html
html
	head
		title=title				
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="/javascripts/volunteer.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/profile.css')
		link(rel='stylesheet', href='/stylesheets/show.css')
		link(rel='stylesheet', href='/stylesheets/filter.css')
		link(rel='stylesheet', href='/stylesheets/frontpage.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
	body
		navbar.white-box
			span#logo.nav-button
				img(src="/images/logo.gif", width="100", height="45")
			a.nav-button.active(href="/")
				img(src="/images/list.png", width="20", height="20")
			a.nav-button(href="/profile")
				img(src="/images/user.png", width="30", height="30")
			a.nav-button(href="/filter")
				img(src="/images/filter.png", width="30", height="30")
		block content
