extends login_layout

block login_content
	.login-page
		.login-container
			.login-logo
				img(src='/images/logo.png')
			form.login-form(method='post')
				input(type='text', name='username', defaultValue='Username' autofocus)
				input(type='password', name='password', defaultValue='Password')
				.other-buttons
					input.link-button(type='submit', value="Sign Up")
					input.link-button(type='submit', value="Log In")
			if error != undefined
				.error #{error}