extends layout

block content
	div(data-role="page",id="pageone")
		div(data-role="header")
			div(data-role="navbar")
				ul
					li
						a(href="#") Home
						a(href="#") Preferences
	div(class="top-header-div") boobs
		div(class="header-image-div")
			img(class="header-image", src="../images/profile-pic.jpg")
		div(class="header-name-div")
			span(class="span-name") Brandon Porter