extends layout

block content
	.show-container
		.event-info
			.title-img
				img(src='/images/op3.jpg')
			span.organization Banker's Life BBall Tourney
			.description.white-box
				dl Details
					dt When
						dd July 18th, 8:00pm - 10:00pm
					dt Where
						dd Gleaner's food Bank
						dd 103 N. University st.
						dd Indianapolis, IN 46220
					dt What
						dd Help families in need by volunteering at a food pantry.
			.mid-bar.white-box
				span.sign-up Register
				span.sign-up Website
				.description Withers began his career under the name Jeremy Hyde, acting as a jobber and losing to Dustin Lillard in less than five minutes.
		hr
		.task-list
			.task.white-box Task 1
			.task.white-box Task 2
			.task.white-box Task 3
			.task.white-box Task 4
			.task.white-box Task 5