
div[data-role="navbar"] ul li a.ui-btn-active {
	background: #c33!important;
}

.page {
	max-height:550px;
	overflow: auto !important;
}

.top-header {
	top: 60px;
}

.top-header-div {
	width: 100%;
	margin:50px 0px 100px 0px;
}

.header-image-div {
	width:100%;
	text-align:center;
}

.header-name-div {
	width:100%;
	text-align:center;
}

.span-name {
	font-weight:bold;
	font-size:30px;
}

.event-name-h3 {
	padding: 0px !important;
}

.event-content-info-div {
	margin-top:20px;
	margin-bottom:20px;
}

.event-content-image {
	max-height:200px;
}

.info-content-div {
	border-bottom: 1px solid black;
	font-weight:bold;
	font-size:20px;
}

.info-data-span {
	font-size:12px;
}

